body {
  font-family: "Figtree", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #1e1e1e;
  background-color: #fff;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
button,
input,
textarea,
select {
  font: inherit;
}
button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}
.container {
  width: min(1300px, calc(100% - 40px));
  margin-inline: auto;
}
section {
  padding-block: 60px;
}
