/* =========================
   header
========================= */
.header {
  padding-block: 26px;
  background-color: #000;
  color: #fff;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__item a {
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}

.header__item a:hover,
.header__item.is-active a {
  color: #309689;
}

.header__actions a:not(.button) {
  color: #fff;
}

/* =========================
   footer
========================= */
.footer {
  padding-block: 100px 60px;
  background-color: #000;
  color: #fff;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__logo {
  display: flex;
  gap: 10px;
}
.footer__title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.footer__desc {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.footer__col {
  display: flex;
  flex-direction: column;
}
.footer__col--brand {
  gap: 40px;
  width: 377px;
}
.footer__col--company {
  gap: 24px;
}
.footer__col--category {
  gap: 24px;
}
.footer__col--news {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 306px;
}
.footer__link {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.footer__news-desc {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.footer__button {
  height: 50px;
  padding-inline: 40px;
  border-radius: 12px;
  font-weight: 700;
  color: #fff;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
.footer__addition {
  display: flex;
  gap: 20px;
}
.footer__input {
  width: 306px;
  height: 50px;
  padding-inline: 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  background-color: #000;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
